

.mainContainer {
    display: flex;
    margin-left: 5rem;
    justify-content: space-between;
    align-items: center;
    width: 200vh;
    
  }

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 20px;
    width: auto;
    
    
}